.container {
    text-align: center;
    padding: 2%;
}

.book-image {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.reviews {
    margin-top: 20px;
}

.review {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inline-form {
    display: inline;
}

.edit-button,
.delete-button {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
}

.review-form {
    margin: 100px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review-input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.review-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
    background-color: #28a745;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
    background-color: #218838;
    transform: translateY(-1px);
}

.edit-review-form {
    margin: 100px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.edit-review-form textarea,
.edit-review-form select {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.edit-review-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-review-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}
